.wrapper {
  display: flex;
  flex-direction: column;
  width: 98vw;
  padding: 30px 120px;
  padding-bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: #eee;
}

.tagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
  gap: 1rem;
}

.tagline {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.content {
  display: flex;
  gap: 1rem;
  width: 33%;
}

.left {
  position: relative;
  width: 40%;
  height: 170px;
  object-fit: cover;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}

.title {
  color: gray;
}

.title:hover {
  color: black;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
    padding: 20px 50px;
    margin: auto;
  }
  .container {
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
  .left {
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 20px 30px 50px 30px;
    margin: auto;
  }
  .content {
    width: 100%;
  }
  .left {
    width: 40%;
    height: 180px;
  }
  .tagline {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .title {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  .left {
    width: 40%;
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .left {
    height: 100px;
  }
}
