.category {
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid black;
  padding: 4px 20px;
  width: fit-content;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
}

.category:hover {
  color: #565656;
}
