.container {
  min-width: 100px;
  padding: 10px;
  border: 1px solid var(--btn);
  font-weight: 700;
  text-align: center;
  color: var(--btn);
}

.container:hover {
  background-color: var(--btn);
  color: white;
}

.active {
  background-color: var(--btn);
  color: var(--bg);
}
